@tailwind base;
@tailwind components;
@tailwind utilities;
 
 
body::-webkit-scrollbar {
  width: 20px;            
}

body::-webkit-scrollbar-track {
  background: #E3D5CB;        
}

body::-webkit-scrollbar-thumb {
  background-color: #E3D5CB;    
  border-radius: 100px;       
  border: 3px solid #804216;   
}


.overlayHeader{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 66, 22, .63); 
   
}
 
 
.slick-slide > div {
  margin: 0 10px;
}


.bg-input{
   background-color: rgba(227, 213, 203, .12);
}
/* Card Style */
.overlay-card {
  position: relative;
  width: 300px;
  height: 350px;
  border: 1px solid #ddd; 
  overflow: hidden;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
 
}
.styled-image {   
  box-shadow: -10px 10px #804216;  
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.overlay:hover {
  opacity: 1;
}

.card-title {
  margin-bottom: 8px;
  font-size: 1.5rem;
}

.card-description {
  font-size: 1rem;
}

 

@media only screen and (max-width: 1024px) {
	nav .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	nav .nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem; 
		transition: 1s;
	}

	nav .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}




.border-class {
  border: 2px solid #804216;
}
.custom-modal-image {
     width: 355px;
     height: 355px; 
     object-fit: cover;  
     margin: 0 auto;
 }

 input:active{
     background: transparent;
 } 



/* Loading animation */

 @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animated-text {
  animation: fadeIn 2s infinite;  
}
 